.form-container {
  margin-top: 50px;
  max-width: 350px;
}

form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    width: 100%;
    font-size: smaller;
    padding: 0 8px;
  }
}
